<mat-toolbar>
    <span routerLink="inicio" routerLinkActive="router-link-active" >GAM</span>


    <a mat-button routerLink="futbol"><mat-icon>sports_soccer</mat-icon>Fútbol</a>
    <a mat-button><mat-icon>sports_tennis</mat-icon>Tenis</a>
    <a mat-button><mat-icon>sports_esports</mat-icon>eSports</a>

    <div class="spacer"></div>

    
    <a mat-raised-button routerLink="iniciar-sesion">Inicia Sesion</a>
    <a mat-raised-button routerLink="registrarse">Registrate</a>
    <a mat-raised-button color="primary" routerLink="crear-noticia">Escribe tu noticia</a>

</mat-toolbar>
