<mat-card>
    <mat-card-title>Iniciar Sesion</mat-card-title>
    <mat-card-content>
        <form class="example-form" (submit)="onLogin()">
            <p>
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Ej: nombre@correo.com" required/>
                </mat-form-field>
            
            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Contraseña" required/>
                </mat-form-field>
            </p>
            <button type="submit" mat-raised-button color="accent">Ingresar</button>
            <br><br>

            <div class="form-group form-check justify-content-center d-flex">
                <p>¿No tienes una cuenta? <a [routerLink]="['/registrarse']">Regístrate </a></p>
            </div>
        </form>

        
    </mat-card-content> 
</mat-card>
