<br>

       <table *ngIf="listaNoticias">
           <tr *ngFor="let noticia of indexArray">
               <td>
                   <div class="imagebox" (click)="irANoticia(noticia)">
                       
                       <img [src]="listaNoticias[noticia].imagen" class="img-fluid">
                       <span class="imagebox-desc">{{listaNoticias[noticia].titulo}}</span>
                   </div>
                   <br>
                   <br>
                   
               </td>

           </tr>
       </table>