<div class="col-lg-6 mx-auto">
    <div class="card">
        <div class="card-header">
            Escribe tu Noticia

        </div>
        <div class="card-body">
            <form (submit)="subirNoticia(titulo, cuerpo)">

                <div class="form-group">
                    <mat-label>Categoria: </mat-label>
                    <select matNativeControl required>
                        <option value="Futbol">Fútbol</option>
                        <option value="Tenis">Tenis</option>
                        <option value="eSports">eSports</option>
                     </select>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Titulo" required #titulo>
                </div>

                <div class="fomr-group">
                    <textarea class="form-control" rows="10" placeholder="Cuerpo" required #cuerpo></textarea>
                </div>
                
                <input type="file" class="d-none" (change)="onNoticiaSelected($event)" #noticiaInput>
                
                <div class="image">
                    <img [src]="photoSelected || 'assets/no-image.png'" class="img-fluid" alt="No Image" (click)="noticiaInput.click()">
                </div>

                <button class="btn btn-primary btn-block">
                    Subir Noticia
                </button>
    
                
                
                
                
            </form>
        </div>
    </div>
</div>