
<br>
<br>
<table *ngIf="listaNoticias">
        <div class="mat-h1">{{listaNoticias[idNoticia].titulo}}</div>
    <div class="row">
        
        <div class="col">
            <div class="card imagen">
                <img [src]="listaNoticias[idNoticia].imagen" class="img-fluid">
            </div>
        </div>
        <div class="col">
                <div class="mat-body-strong cuerpo">{{listaNoticias[idNoticia].cuerpo}}</div>
        </div>
     
    </div>
    <br>
    <br>
    <br>
    <div class="form-group w-100">
        <h2>Deja una opinion</h2>
        <form ng-controller="Controller">
            <textarea class="form-control" rows="3" ng-model="cmtName" placeholder="Tu comentario"></textarea>
            <br/>
            <button class="btn btn-success">Comentar</button>
            <br/>
            <hr/>
            
        </form> 
    </div>
</table>
